@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}


.qr__card {
    border: 2px solid none;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    width: 70%;
    height: 70%;
}

.qr__card img {
    border: 2px solid none;
    border-radius: 8px;
    width: 90%;
    height: 90%;
}