@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* min-width 375px */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}


.qr__card {
    border: 2px solid none;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    width: 77%;
    height: 70%;
}

.qr__card img {
    border: 2px solid none;
    border-radius: 8px;
    width: 90%;
    height: 90%;
}

.qr__card h2{
    font-weight: 700;
}

.qr__card span {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

/* min-width 375px */

@media(min-width: 1300px) {
    .qr__card {
        display: flex;
        margin-top: 80px;
        align-items: center;
        width: 22%;
        height: 10%;
    }

    .qr__card img {
        width: 100%;
        height: 10%;
    }
}